<footer class="border-top footer text-muted">
    <div class="container">
        <br>
        &copy; 2022 - Mandatory 1 - Georgi Dimitrov
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>