<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">    
    <a class="navbar-brand" href="/">My documentation</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/node">Node</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/terminal">Terminal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sequelize">Sequelize</a>
      </li>
    </ul>
  </nav>