<!DOCTYPE html>
<html lang="en">
<head>
  %%HEAD_PLACEHOLDER%%
</head>
<body class="container">

<header>
  %%HEADER_PLACEHOLDER%%
</header>

<br>

<main>
  <div class="jumbotron">
    <h1>Node documentation</h1>
    <br>
    <h6>What is Node.js?</h6>
    <p>Node is a JavaScript runtime. Not a framework/library! Not a JavaScript compiler!</p>
    <br>
    <h6>What is Express?</h6>
    <p>Express is a web framework for Node.js. It's fast, minimalist and unopinionated!</p>
    <br>
    <h6>How to beggin programming with Node.js?</h6>
    <ol>
        <li>Create a new folder for your Node application.</li>
        <li>Create a file named "package.json" which will include our dependancies.</li>
        <li>Write the dependancies which you want to use in your application.</li>
        <li>Open a terminal and write "npm install"</li>
        <li>Wait until the NodePackageManager(npm) installs all packages</li>
        <li>Create a file named "app.js" and start exploring the Node world</li>
    </ol>
    <br>
    <h6>Example of how to use Express for starting a server:</h6>
    <img src="express.png" width="800" height="400">
  </div>
</main>

<footer>
  %%FOOTER_PLACEHOLDER%%
</footer>

</body>
</html>