<!DOCTYPE html>
<html lang="en">
<head>
  %%HEAD_PLACEHOLDER%%
</head>
<body class="container">

<header>
  %%HEADER_PLACEHOLDER%%
</header>

<br>

<main>
  <div class="jumbotron">
    <h1>Terminal documentation:</h1>
    <br>
    <h6>How to list all files in a folder?</h6>
    <p>The command for that is "ls".</p>
    <br>
    <h6>How to change the folder you are located in?</h6>
    <p>The command for that is "cd [path]" where "path" can be relative or absolute.</p>
    <br>
    <h6>How to move files?</h6>
    <p>The command for that is "mv [file name] [path]" where "file name"
       is the name of the file you want to move, and [path] is where you want to move the file.</p>
    <br>
    <h6>How to delete files?</h6>
    <p>The command for that is "rm [file name]"</p>
    <br>
    <h6>How to make a new folder?</h6>
    <p>The command for that is "mkdir [name]" where "name" is the name of the folder.</p>
    <br>
    <h6>How to run a Node application?</h6>
    <p>The command for that is "node [js file]"</p>
    <br>
    <h6>How to stop a running Node server?</h6>
    <p>In order to stop the server you need to press both CTRL + C</p>
  </div>
</main>

<footer>
  %%FOOTER_PLACEHOLDER%%
</footer>

</body>
</html>