<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="index.css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<br>

<main>
  <div class="jumbotron">
    <h1>Welcome to my amazing website</h1>
    <p>Note: This is me submitting the assignment.</p>
    <iframe class="gif" src="https://giphy.com/embed/wpgYasZ0tBrP4lCgS3" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen>
    </iframe>
  </div>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
<script src="animation.js"></script>
</body>
</html>