<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<br>

<main>
  <div class="jumbotron">
    <h1>Welcome to my amazing website</h1>
    <p>Note: everything you see was rendered on a server and now you get only the pure html</p>
  </div>
</main>

<br>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>